@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 13px;
  line-height: 20px;
  color: #22314E;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #03a4ed;
  color: #fff;
}

::-moz-selection {
  background: #03a4ed;
  color: #fff;
}

@media (max-width: 991px) {

  html,
  body {
    overflow-x: hidden;
  }

  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .mobile-bottom-fix {
    margin-bottom: 30px;
  }

  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.page-section {
  margin-top: 120px;
}

.section-heading h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: #22314E;
  font-weight: 600;
  letter-spacing: 0.25px;
  position: relative;
  z-index: 2;
  line-height: 44px;
  margin-bottom: -5px;
}

.section-heading h2 em {
  font-style: normal;
  color: #03a4ed;
}

.section-heading h2 span {
  color: #ff695f;
  font-weight: 700;
  opacity: 1;
  text-transform: capitalize;
}

.section-heading span {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff695f;
  opacity: 0.15;
}

.main-blue-button a {
  display: inline-block;
  background-color: #03a4ed;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
}

.main-blue-button-hover a {
  display: inline-block;
  background-color: #03a4ed;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  transition: all .3s;
}

.main-blue-button-hover a:hover {
  background-color: #ff695f;
}

.main-red-button a {
  display: inline-block;
  background-color: #ff695f;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
}

.main-red-button-hover a {
  display: inline-block;
  background-color: #ff695f;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  transition: all .3s;
}

.main-red-button-hover a:hover {
  background-color: #03a4ed;
}

.main-white-button a {
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  color: #ff695f;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
  background-color: #fff !important;
  height: 60px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #22314e !important;
}

.background-header .main-nav .nav li:hover a {
  color: #7a7a7a !important;
}

.background-header .nav li a.active {
  color: #ff685f !important;
}

.header-area {
  background: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 60px;
  background: transparent;
}

.header-area .main-nav .logo img {
  max-width: 120px;
  margin-top: 5px;
}

.background-header .main-nav .nav {
  margin-top: 10px !important;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 30px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 12px;
  padding-right: 12px;
}

.header-area .main-nav .nav li .sign-button {
  padding-right: 0px;
  padding-left: 40px;
}

.header-area .main-nav .nav li .sign-button a {
  color: #fff !important;
  padding: 0px 15px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 5px;
  height: 30px !important;
  line-height: 30px !important;
  background-color: #22314e;
  box-shadow: 0px 10px 15px rgba(34, 49, 78, 0.2);
  border-radius: 10px;
  font-weight: 700 !important;
}

.header-area .main-nav .nav li .sign-button a:hover {
  color: #fff !important;
  box-shadow: 0px 14px 30px rgba(34, 49, 78, 0.3);
  transform: translateY(-5px);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav li .sign-button a.active {
  color: #fff !important;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #22314E;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
}

.header-area .main-nav .nav li a {
  color: #22314E;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #afafaf !important;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #afafaf !important;
  opacity: 1;
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 30px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-size: 12px;
  font-weight: 900;
  color: #22314E;
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
  color: #22314E;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 50px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #22314e !important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: #03a4ed !important;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 15px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 25px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 15px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 60px;
}

.header-area .nav {
  margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
  color: #ff685f;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }

  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {

  .header-area .main-nav .nav li:last-child,
  .background-header .main-nav .nav li:last-child {
    display: none;
  }

  .header-area .main-nav .nav li:nth-child(6),
  .background-header .main-nav .nav li:nth-child(6) {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .background-header .main-nav .nav {
    margin-top: 60px !important;
  }

  .header-area .main-nav .logo {
    float: left;
    width: 100px;
    margin: 5px 0 0 15px;
  }

  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #22314e !important;
    opacity: 1;
  }

  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }

  .header-area {
    padding: 0px 15px;
    height: 60px;
    box-shadow: none;
    text-align: center;
  }

  .header-area .container {
    padding: 0px;
  }

  .header-area .menu-trigger {
    display: block !important;
  }

  .header-area .main-nav {
    overflow: hidden;
  }

  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-left: 0px;
  }

  .background-header .nav {
    margin-top: 80px;
  }

  .header-area.header-sticky .nav {
    margin-top: 100px;
  }

  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    padding-left: 0px !important;
    padding-right: 0px !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #22314e !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .header-area .main-nav .nav li a:hover {
    color: #03a4ed !important;
  }

  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }

  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }

  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }

  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }

  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }

  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: #fff;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #22314e;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #22314e;
  border-radius: 50%;
}



/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.main-banner .banner-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-banner .banner-image img {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 375px);
  right: -5%;
  width: 1100px;
  height: 750px;
}

.main-banner .item {
  margin-right: 45px;
}

.main-banner .item h6 {
  text-transform: uppercase;
  font-size: 18px;
  color: #ff685f;
  margin-bottom: 15px;
}

.main-banner .item h2 {
  font-size: 50px;
  font-weight: 700;
  color: #22314E;
  line-height: 72px;
}

.main-banner .item h2 em {
  color: #03a4ed;
  font-style: normal;
}


.main-banner .item p {
  margin: 20px 0px;
}

.main-banner .toggle-slider {
  z-index: 2;
  position: relative;
  margin-top: 2rem;
}

.main-banner .toggle-slider .nav-link {
  display: inline-block;
  color: #22314E;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #fff;
  margin-right: 0.5rem;
  box-shadow: 0 4px 15px rgba(58, 112, 191, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-banner .toggle-slider .nav-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 30px rgba(58, 112, 191, 0.2);
}

.main-banner .toggle-slider .nav-link.active {
  color: #03a4ed;
}

.main-banner .toggle-slider .nav-link.active img {
  background-color: #03a4ed;
}

.main-banner .toggle-slider .nav-link img {
  background-color: #22314e;
  border-radius: 5px;
  width: 22px;
  padding: 4px;
  margin-right: 0.5rem;
}

.main-banner .toggle-slider .tab-content {
  background-color: #fff;
  box-shadow: 0 15px 30px rgb(58 112 191 / 15%);
  padding: 0.7rem 0 0.7rem 0.3rem;
  margin-top: 0.5rem;
  border-radius: 10px;
}

/* 
---------------------------------------------
tracking-tabs
--------------------------------------------- 
*/

.tracking-tabs form,
.order-tabs form {
  width: 100%;
  background-color: #fff;
}

.order-tabs {
  padding: 1rem;
}

.tracking-tabs form input {
  background-color: transparent;
  width: 100%;
  border: none;
  line-height: 40px;
  outline: none;
  padding: 0px 10px;
  font-size: 14px;
  color: #22314E;
}

.order-tabs form input {
  background-color: #eee;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  line-height: 40px;
  outline: none;
  padding: 0px 10px;
  font-size: 14px;
  color: #22314E;
}

.order-tabs hr {
  background-color: #afafaf;
}

.tracking-tabs form select {
  background-color: transparent;
  width: 100%;
  border: none;
  line-height: 40px;
  margin-top: 9px;
  outline: none;
  padding: 0px 10px;
  font-size: 14px;
  color: #afafaf;
}

.tracking-tabs form input#tracking {
  border-right: 1px solid #eee;
}

.tracking-tabs form input::placeholder,
.order-tabs form input::placeholder {
  color: #afafaf;
}

.tracking-tabs form button,
.order-tabs form button {
  display: inline-block;
  background-color: #03a4ed;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  letter-spacing: 0.1em;
  border: none;
  text-align: center;
  transition: all .3s;
}

.tracking-tabs form button:hover {
  background-color: #22314e;
}

/* 
---------------------------------------------
About
--------------------------------------------- 
*/

.about-us {
  padding: 0;
  background-color: #eee;
  max-height: 700px;
  overflow: hidden;
}

.about-us .left-image img {
  position: relative;
  left: -5rem;
  top: 0;
  width: 100%;
}

.about-us .right-text {
  padding: 80px 0;
}

.about-us .section-heading h2 {
  margin-right: 60px;
}

.about-us .section-heading p {
  margin-top: 50px;
}

.about-us .fact-item .icon {
  width: 45px;
  height: 45px;
}

.about-us .fact-item {
  margin-top: 45px;
}

.about-us .fact-item .count-digit {
  font-size: 48px;
  font-weight: 700;
  color: #22314E;
  margin-top: 5px;
}

.about-us .fact-item .count-title {
  font-size: 15px;
  color: #22314e;
}

.about-us .fact-item p {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}


/* 
---------------------------------------------
Services
--------------------------------------------- 
*/

.our-services {
  padding: 80px 0 10px 0;
  position: relative;
}

.our-services .section-heading {
  margin: 0 0 30px -15px;
}

.our-services .item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgb(58 112 191 / 10%);
  padding: 2rem;
}

.our-services .item .thumb {
  position: relative;
}

.our-services .item .thumb h4 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.our-services .item .thumb p {
  font-size: 13px;
  line-height: 18px;
}

.our-services .item .thumb .services-card-body {
  max-height: 50px;
  display: block;
  overflow: hidden;
  margin-bottom: 1rem;
}

.our-services .item .thumb .show-more-link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #03a4ed;
}

.our-services .item .thumb .show-more-link i {
  font-size: 15px;
  margin-left: 5px;
}

.our-services .item .thumb img {
  width: 120px;
  margin: 3rem 0 2rem 0;
}

.our-services .item .thumb img {
  border-radius: 20px;
  transition: all .3s;
}

.owl-carousel .owl-stage-outer {
  padding: 3rem 1rem;
}

.owl-services .owl-nav {
  position: absolute;
  top: -5%;
  width: 100%;
}

.owl-services .owl-nav .owl-prev {
  position: absolute;
  left: 25px;
}

.owl-services .owl-nav .owl-next {
  position: absolute;
  right: 10px;
}

.owl-services .owl-nav .owl-prev span {
  color: transparent;
}

.owl-services .owl-nav .owl-prev span:hover::after {
  display: none;
}

.owl-services .owl-nav .owl-prev span:after {
  display: none;
}

.owl-services .owl-nav .owl-next span {
  color: transparent;
}

.owl-services .owl-nav .owl-next span:hover::after {
  opacity: 1;
}

.owl-services .owl-nav .owl-next span:after {
  width: 46px;
  height: 46px;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  color: #03a4ed;
  font-family: "Font Awesome 5 Free";
  content: '\f30b';
  font-weight: 900;
  font-size: 32px;
  transition: all .5s;
  opacity: 0.7;
}

.owl-services .owl-dots {
  text-align: center;
  margin-top: 40px;
}

.owl-services .owl-dots .owl-dot {
  width: 6px;
  height: 6px;
  background-color: #03a4ed;
  border-radius: 50%;
  opacity: 0.3;
  margin: 0px 5px;
}

.owl-services .owl-dots .active {
  opacity: 1;
  width: 10px;
  height: 10px;
}

/* 
---------------------------------------------
services-page
--------------------------------------------- 
*/

.services-page {
  padding-top: 160px;
}

.services-primary {
  padding: 5rem 0;
}

.services-primary h2 {
  margin-bottom: 2rem;
}

.services-primary p {
  margin-bottom: 3rem;
}

.services-primary .button {
  background-color: #22314e;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.4s all;
}

.services-primary .button:hover {
  background-color: #03a4ed;
}

.service-item {
  margin-bottom: 3rem;
  background-color: #fff;
  padding: 4rem 1.5rem;
  box-shadow: 0 15px 30px rgb(58 112 191 / 10%);
  border-radius: 10px;
}

.service-item .service-prev-img {
  width: 120px;
  margin-bottom: 3rem;
}

.service-item h4 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.service-item p {
  height: 100px;
  overflow: hidden;
  display: block;
  margin-bottom: 2rem;
}

.service-item a {
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #03a4ed;
  font-weight: 700;
  transition: 0.4s all;
}

.service-item a:hover {
  color: #22314e;
}

/* 
---------------------------------------------
news
--------------------------------------------- 
*/

.pl-0 {
  padding-left: 0 !important;
}


#news {
  padding-top: 80px;
}

#news .section-heading {
  margin: 0 0 90px -15px;
}

.blog2-post-title-cont,
.blog2-post-prev-text {
  margin-bottom: 60px;
  font-size: 13px;
}

.blog2-post-title-cont .post-prev-title {
  padding: 15px 0 15px 20px;
  margin-left: 120px;
  border-left: #22314e 1px solid;
}

.post-prev-title h3 a {
  color: #22314e;
  font-size: 19px;
  font-weight: 500;
}

.blog2-post-title-cont {
  position: relative;
}

.post-prev-date-cont {
  position: absolute;
  top: 24px;
  left: 15px;
}

.blog2-date-numb {
  font-size: 35px;
  font-weight: 100;
}

.blog2-month {
  font-size: 13px;
  padding-left: 8px;
}

.blog2-post-title-cont .post-prev-info {
  margin: 0;
}

.post-prev-info a {
  font-size: 13px;
  color: #afafaf;
}

.post-prev-info span {
  font-size: 11px;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .blog2-month {
    display: block;
    line-height: 18px;
    padding-left: 0;
  }

  .blog2-post-title-cont .post-prev-title {
    margin-left: 70px;
  }

  .blog2-date-numb {
    font-size: 30px;
  }

  .post-prev-date-cont {
    top: 16px;
    text-align: center;
  }
}

/* 
---------------------------------------------
news-page
--------------------------------------------- 
*/

.news-page {
  padding-top: 160px;
}

.heading-line {
  position: relative;
}

.heading-line h4 {
  position: relative;
  display: inline-block;
  background-color: #FFF;
  padding-right: 15px;
}

.heading-line:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 2px solid #eee;
  left: auto;
  top: 58%;
  right: 0;
}

.h4-line:before {
  top: 51.5%;
}

.new-item {
  background-color: #fff;
  box-shadow: 0 15px 30px rgb(58 112 191 / 15%);
  border-radius: 10px;
  margin: 1rem 1rem 2rem 0;
  overflow: hidden;
}

.post-prev-img {
  margin-bottom: 2rem;
  max-height: 200px;
  overflow: hidden;
}

.post-prev-img img,
.post2-prev-img img {
  width: 100%;
}

.post-prev-title h3 {
  font-size: 19px;
  line-height: 26px;
  font-weight: 500;
  padding-left: 1rem;
}

.post-prev-img a {
  transition: 0.4s all;
}

.post-prev-img a:hover,
.post2-prev-img a:hover,
.hover-op-60:hover {
  opacity: .6;
}

.post-prev-info {
  margin-bottom: 1rem;
  font-size: 13px;
  padding-left: 1rem;
}

.slash-divider {
  margin: 0 1rem;
}

.post-prev-info,
.post-prev-info a {
  color: #afafaf;
  transition: 0.4s all;
}

.post-prev-info a:hover {
  color: #22314e;
}

.post-prev-text {
  padding: 0 0.5rem 20px 1rem;
  max-height: 50px;
  overflow: hidden;
  margin-bottom: 1rem;
  font-size: 13px;
  line-height: 18px;
}

.post-prev-more a {
  font-size: 13px;
  color: #22314e;
  opacity: 0.6;
  transition: 0.4s all;
  margin: 0 0 1rem 1rem;
  display: block;
}

.post-prev-more a:hover {
  opacity: 1;
}

.widget-posts {
  font-size: 13px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 15px 30px rgb(58 112 191 / 15%);
  border-radius: 10px;
  margin: 1rem 1rem 1rem 0;
  overflow: hidden;
}

.widget-posts-img {
  margin: 0 20px 0 0;
  width: 80px;
  display: inline-block;
}

.widget-posts-title {
  display: inline-block;
}

.widget-title2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #22314e;
}

.clearlist,
.clearlist li {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.widget-menu li {
  padding-bottom: 7px;
}

.widget-menu li a {
  font-size: 13px;
  color: #22314e;
}

.widget-menu small {
  color: #afafaf;
}


.pagination {
  margin: 2rem 0;
}

.pagination .page-item .page-link {
  background-color: #eee;
  border-radius: 10px;
  margin: 0 0.7rem;
  font-size: 15px;
  padding: 7px 0 0 13px;
  width: 35px;
  height: 35px;
  color: #22314e;
  border: none;
}

.pagination .page-item .page-link:hover {
  background-color: #22314e;
  color: #fff;
}

.pagination .page-item .page-link:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.pagination .page-item:last-child .page-link {
  background-color: transparent;
}

.pagination .page-item:last-child .page-link:hover {
  color: #22314e;
}

.pagination .page-item:first-child .page-link {
  background-color: transparent;
}

.page-item.disabled .page-link {
  opacity: 0.5;
}

.page-item.active .page-link {
  background-color: #22314e;
  color: #fff;
}

/* 
---------------------------------------------
news-single
--------------------------------------------- 
*/

.single-news-page {
  padding-top: 160px;
}

.single-news-page .post-prev-info {
  margin-top: -1rem;
  padding-left: 0;
}

.single-news-page .post-prev-img {
  max-height: 400px;
}

.single-news-page .comment-item {
	padding: 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 15px 30px rgb(58 112 191 / 10%);
  border-radius: 10px;
  font-size: 13px;
  overflow: hidden;
  width: auto;
}

.single-news-page .comment-item:first-child {
	border-top: none;
  margin-top: 2rem;
}

.single-news-page .comment-item .comment-avatar,
.single-news-page .post-author-container .post-author-avatar {
  width: 60px;
  border-radius: 50%;
  margin: 1rem 1rem 0 0;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
}

.single-news-page .comment-item .comment-body, 
.single-news-page .post-author-container .author-body {
  display: inline-block;
  padding: 1rem 0;
}

.single-news-page .comment-item.comment-reply {
  margin-left: 4rem;
}

.single-news-page .comment-item .comment-body .comment-author{
  margin-right: 20px;
}

.single-news-page .post-author-container {
  padding-top: 1rem;
  margin: 3rem 0;
}

.single-news-page .comment-form {
  border-radius: 10px;
  padding: 4rem 0;
}

.single-news-page .contact-form-container textarea {
  background-color: #fff;
  box-shadow: 0 15px 30px rgb(58 112 191 / 10%);
  border: none;
  color: #22314e;
  line-height: 40px;
  border-radius: 10px;
  font-size: 13px;
}

.single-news-page .contact-form-container textarea::placeholder {
  color: #afafaf;
}

.single-news-page .contact-form-container button {
  background-color: #03a4ed;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 10px 2rem;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 0.4s all;
}

.single-news-page .contact-form-container button:hover {
  background-color: #22314e;
}

@media only screen and (max-width: 1024px) {
  .comment-avatar {
    width:50px;
    margin-right: 10px;
  }
  .comment-reply {
    margin-left:-35px;
  } 
}
@media only screen and (max-width: 480px) {
  .comment-avatar {
    width:40px;
    margin-right: 10px;
    margin-top: 7px;
  }
  .post-author-avatar {
    margin-bottom: 10px;
    float: none;
  }
}
/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

.contact-page {
  padding-top: 160px;
}

.container-contact-form {
  box-shadow: 0 15px 30px rgb(58 112 191 / 15%);
  border-radius: 10px;
  overflow: hidden;
}

.contact-map {
  margin: 5rem 0 2rem 0;
}

.contact-map iframe {
  border-radius: 10px;
  box-shadow: 0 15px 30px rgb(58 112 191 / 15%);
}

.contact-form {
  background-color: #fff;
  padding: 5rem 3rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 10px;
  line-height: 40px;
  color: #22314e;
  width: 100%;
  padding: 0 15px;
  font-size: 13px;
  margin-bottom: 1.5rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: none;
} 

.contact-form button {
  background-color: #22314e;
  color: #fff;
  border-radius: 10px;
  border: none;
  line-height: 40px;
  padding: 0 2rem;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 0.4s all;
}

.contact-form button:hover {
  background-color: #03a4ed;
}

.contact-info-side {
  display: block;
  width: 100%;
  height: 100%;
  background: #22314e;
  background: -webkit-linear-gradient(right, #22314e, #03a4ed);
  background: -o-linear-gradient(right, #03a4ed, #22314e, #03a4ed, #22314e);
  background: -moz-linear-gradient(right, #03a4ed, #22314e, #03a4ed, #22314e);
  background: linear-gradient(right, #03a4ed, #22314e, #03a4ed, #22314e);
  padding: 5rem 3rem;
}

.contact-info-side .contact-info-item i {
  font-size: 43px;
  color: #fff;
  margin-bottom: 3.5rem;
}

.contact-info-side .contact-info-item p {
  color: #afafaf;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.contact-info-side .contact-info-item span {
  color: #fff;
}

/* 
---------------------------------------------
Volume Calculator Style
--------------------------------------------- 
*/

.volume-calc {
  margin-bottom: 2rem;
}

.volume-calc input {
  background-color: #eee;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  line-height: 40px;
  outline: none;
  padding: 0px 10px;
  font-size: 14px;
  color: #22314E;
}

.volume-calc button {
  display: inline-block;
  background-color: #03a4ed;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  letter-spacing: 0.1em;
  border: none;
  text-align: center;
  transition: all .3s;
}

.volume-calc p {
  font-size: 19px;
  text-align: center;
  margin-top: 0.7rem;
  font-weight: 700;
}

.volume-calc-exemple h4 {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 23px;
}

.volume-calc-exemple p {
  margin: 1rem 0;
}

.volume-calc-exemple span {
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* 
---------------------------------------------
about-us page
--------------------------------------------- 
*/

.about-us-page {
  padding-top: 240px;
  color: #22314e;
}

.about-us-page i {
  font-size: 42px;
  padding: 1rem;
  color: #03a4ed;
}

.about-us-page p {
  font-size: 13px;
  margin-top: 1rem;
}

.about-us-page figcaption {
  margin: 1rem;
}

.testimonials {
  padding: 80px 0;
}

.ts4-text-cont {
  margin-bottom: 2rem;
  padding: 33px 35px 32px 35px;
  background: #fff;
  box-shadow: 0 15px 30px rgb(58 112 191 / 10%);
  border-radius: 10px;
  font-size: 13px;
}

.feedback-date {
  font-size: 11px;
  opacity: .6;
  margin-top: 1rem;
  text-align: end;
}

.ts4-author-img {
  float: left;
  margin: 0px 20px 0 0;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.ts4-author-info {
  padding-top: 10px;
  font-size: 13px;
  line-height: 20px;
  display: inline-block;
}

.ts-type {
  opacity: .6;
}

.clients {
  padding: 80px 0;
}

.client2-item {
  text-align: center;
  width: 100%;
  overflow: hidden;
  padding-right: 6rem;
}

.client2-item img {
  width: 100%;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

.footer-dec {
  width: 100%;
  margin-top: 80px;
}

footer {
  margin-top: -70px;
  z-index: 2;
  position: relative;
}

footer .footer-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: #22314E;
  margin-bottom: 30px;
}

footer .about .logo img {
  width: 89px;
  margin-bottom: 30px;
}

footer .about a {
  color: #afafaf;
  font-weight: 300;
  font-size: 13px;

}

footer .about ul {
  margin-top: 20px;
}

footer .about ul li {
  display: inline-block !important;
  margin-right: 5px;
}

footer .about ul li a {
  width: 32px;
  height: 32px;
  background-color: #22314e;
  box-shadow: 0 4px 15px rgba(58, 112, 191, 0.1);
  color: #fff !important;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  font-size: 13px;
}

footer .about ul li a:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 30px rgba(58, 112, 191, 0.2);
}

footer .footer-item ul li {
  display: block;
  margin-bottom: 7px;
}

footer .footer-item ul li:last-child {
  margin-bottom: 0px;
}

footer .footer-item ul li a {
  font-size: 13px;
  color: #afafaf;
  transition: all .3s;
}

footer .footer-item ul li a:hover {
  color: #03a4ed;
}

footer .footer-item p {
  color: #afafaf;
  margin: -5px 0 7px 0;
}

footer .footer-item form {
  background-color: #22314e;
  box-shadow: 0 14px 30px rgba(58, 112, 191, 0.2);
  height: 46px;
  border-radius: 10px;
  position: relative;
  margin-top: 15px;
}

footer .footer-item form input {
  line-height: 46px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 13px;
  padding: 0px 20px;
  outline: none;
}

footer .footer-item form input::placeholder {
  color: #fff;
}

footer .footer-item form button {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid #eee;
  color: #afafaf;
  margin-top: 50px;
  padding: 20px 0px;
  font-weight: 300;
  font-size: 13px;
}

footer .copyright a {
  color: #03a4ed;
}

/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/


@media (min-width: 1920px) {
  .main-banner .banner-image img {
    right: 5%;
    top: calc(50% - 400px);
    width: 1100px;
    height: 775px;
  }

  .about-us .left-image img {
    transform: translateY(-20%);
  }

}

@media (max-width: 1240px) {
  .main-banner .banner-image img {
    top: calc(50% - 263px);
    width: 700px;
    height: 525px;
  }

}

@media (max-width: 992px) {
  .main-banner .banner-image img {
    display: none;
  }

  .main-banner .item {
    margin-right: 0px;
  }

  .main-banner {
    padding-bottom: 0px;
  }

  .about-us .section-heading h2 {
    margin-right: 0px;
  }

  .fact-item {
    text-align: center;
  }

  .fact-item .icon {
    margin: 0 auto;
  }

  .our-services .section-heading h2,
  .pricing-tables .section-heading h2 {
    margin: 0px;
  }

  .pricing-tables .item {
    margin-bottom: 30px;
  }

  .tracking-tabs .inner-content {
    padding: 60px 30px;
  }

  .our-videos ul.nacc {
    margin-bottom: 30px;
  }

  .our-videos .naccs .menu div img {
    border-radius: 50px;
  }

  .our-videos .menu .thumb .inner-content {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .contact-us .section-heading h2 {
    margin-right: 0px;
    text-align: center;
  }

  .our-videos ul.nacc li {
    transform: translateX(0px);
    transform: translateY(-50px);
  }

  .our-videos .nacc .thumb iframe {
    height: 500px;
  }

  form#contact {
    margin-left: 0px;
    margin-top: 60px;
  }

  form#contact {
    padding: 45px 30px;
  }

  .footer-item {
    margin-bottom: 45px;
  }

  .subscribe-newsletters {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .sign-button {
    position: absolute;
    z-index: 99;
    top: 19px;
    right: 80px;
    display: block;
  }

  .sign-button a {
    color: #fff !important;
    padding: 4px 8px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #22314e;
    border-radius: 10px;
    font-weight: 700 !important;
  }

  .main-banner {
    padding: 100px 0;
  }

  .main-banner .item h2 {
    font-size: 28px;
    line-height: 32px;
  }

  .main-banner .toggle-slider {
    margin-top: 1rem;
  }

  .main-banner .toggle-slider .nav-link {
    margin: 0.5rem 0.5rem;
  }

  .main-banner .toggle-slider .tab-content {
    background-color: transparent !important;
    box-shadow: none;
    padding: 0.7rem 0 0.7rem 0.3rem;
  }

  .order-tabs {
    padding: 0.5rem;
  }

  .order-tabs p {
    margin-bottom: 1rem;
  }

  .tracking-tabs form input {
    line-height: 30px;
    padding: 15px;
    margin: 0 0 10px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 15px 30px rgb(58 112 191 / 15%);
    border-radius: 10px;
  }

  .order-tabs form input {
    background-color: #eee;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    line-height: 40px;
    outline: none;
    padding: 0px 10px;
    font-size: 14px;
    color: #22314E;
  }

  .order-tabs hr {
    background-color: #ddd;
  }

  .tracking-tabs form select {
    line-height: 30px;
    padding: 15px;
    margin: 0 0 20px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 15px 30px rgb(58 112 191 / 15%);
    border-radius: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .tracking-tabs form input#tracking {
    border-right: none;
  }

  .tracking-tabs form button,
  .order-tabs form button {
    margin: 0 0 0.5rem 0;
    padding: 7px 20px;
    width: 100%;
  }

  .about-us {
    max-height: 900px;
  }

  .about-us .left-image img {
    display: none;
  }

  .about-us .section-heading h2 {
    margin-right: 0;
    font-size: 26px;
    line-height: 34px;
  }

  .about-us .section-heading p {
    margin-top: 30px;
  }

  .about-us .fact-item {
    margin-top: 35px;
  }

  .about-us .fact-item .count-digit {
    font-size: 42px;
  }

  .about-us .fact-item .count-title {
    font-weight: 600;
  }

  .about-us .fact-item p {
    margin-top: 20px;
    font-size: 13px;
  }

  .our-services .section-heading {
    margin: 0 0 30px 5px;
  }

  .our-services .item .thumb h4 {
    font-size: 19px;
  }

  .owl-services .owl-nav {
    top: -10%;
  }

  .owl-carousel .owl-stage-outer {
    padding: 3rem 0.5rem;
  }

  .owl-services .owl-nav .owl-next {
    right: 10px;
  }

  .pl-0 {
    padding-left: 12px !important;
  }

  #news .news-item {
    display: block;
    margin-bottom: 1rem;
  }

  #news .section-heading {
    margin: 0 0 90px 5px;
  }

  #news .news-item h4 {
    font-size: 15px;
    margin: 0.1rem 0 0.3rem 0;
    max-height: 20px;
    display: block;
    overflow: hidden;
  }

  #news .news-item-small {
    display: none;
  }

  #news .news-item p {
    display: block;
    max-height: 60px;
    overflow: hidden;
  }

  #news .more-news-link {
    margin-top: -3rem;
  }

  .news-page {
    padding: 80px 0;
  }

  footer {
    margin-top: -100px;
  }

  .about-us-page {
    padding-top: 100px;
  }

  .client2-item {
    padding: 1rem;
  }

  .widget-posts {
    margin: 1rem 0;
  }

  .new-item {
    margin: 1rem 0 2rem 0;
  }

  .widget-posts-img {
    width: 60px;
    margin: 0 10px 0 0;
  }

  .single-news-page {
    padding: 100px 0;
  }
  
  .single-news-page .post-author-container {
    margin: 0 0 3rem 0;
  }

  .single-news-page .comment-item .comment-body p {
    padding-top: 1rem;
  }

  .single-news-page .comment-item.comment-reply {
    margin-left: 1.5rem;
  }

  .contact-info-side,
  .contact-form {
    padding: 3rem 1.5rem;
  }

  .contact-info-side .contact-info-item {
    margin-bottom: 3rem;
  }

  .contact-info-side .contact-info-item i {
    margin-bottom: 2rem;
  }

  .contact-form button {
    width: 100%;
  }
}